.Film {
    /* Styles globaux */
    font-family: Arial, sans-serif;
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

    .container {
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 20px; /* Permet de mettre de la marge avec des éléments flex */
    }

    /* Div Carte Principale : Affiche et Infomations Principales */
    #divCartePrincipale {
        display: flex;
        background: #1e1e1e;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
    #divCartePrincipale img {
        width: 20%;
        object-fit: cover;
    }

    #divInfoGenerale {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #divInfoGenerale p {
        margin: 10px 0;
    }

    /* Synopsis Card */
    #divCarteSynopsis {
        background: #1e1e1e;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 20px;
    }

    #divCarteSynopsis h2 {
        margin-bottom: 15px;
        color: #ff6f61;
    }

    #divCarteSynopsis p {
        font-size: 1em;
        line-height: 1.6;
    }

    /* Dates Carte */
    #divCarteDates {
        background: #1e1e1e;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 20px;
    }

    #divCarteDates h2 {
        margin-bottom: 15px;
        color: #ff6f61;
    }

    #divCarteDates p {
        font-size: 1em;
        margin: 20px 0;
    }
    /* Details Card */
    #divCarteDetails {
        background: #1e1e1e;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 20px;
    }

    #divCarteDetails h2 {
        margin-bottom: 15px;
        color: #ff6f61;
    }

    #divCarteDetails p {
        font-size: 1em;
        margin: 20px 0;
    }
    /* Autres définition de style */
    #pasAffiche {
        border: 1px solid #ff6f61;
    }
    #divErreur {
        display: block;
    }
    #divErreur p {
        text-align: center;
        margin-bottom: 20px;
    }
    #divErreur #divBouton {
        text-align: center;
    }
    /* #divGestionPlaylist {
        margin-top: -10px;
        margin-bottom: 20px;
        text-align: center;
    }
    #ajouterFavori {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        max-width: fit-content;

        display: flex;
        align-items: center;

        border: 1px solid #ff6f61;
        background-color: #ff6f61;
        cursor: pointer;
        font-weight: bold;
    }
    #ajouterFavori:hover {
        background-color: transparent;
    }
    #ajouterFavori img {
        width: 30px;
        margin-right: 5px;
    } */
    #divGestionListe {
        text-align: center;
    }
    #selectAjouterListe {
        color: #fff;
        background-color: #2a2a2a;
        margin-left: 10px;
        padding: 8px 25px 8px 10px;
        border: 1px solid #444;
        border-radius: 5px;
        font-size: 1rem;
        transition: all 0.5s ease;
        appearance: none;
        -webkit-appearance: none; /* Compatibilité Safari */
        -moz-appearance: none; /* Compatibilité Firefox */
        cursor: pointer;
        /* Permet de mettre une flèche */
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23bbb'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 1rem;
    }
    #selectAjouterListe:focus {
        outline: none;
        border-color: #ff6f61;
        box-shadow: 0 0 5px rgba(255, 111, 97, 0.5);
    }
    #selectAjouterListe option {
        color: #fff;
        background-color: #000;
    }
}
