.Societe {
    /* Styles globaux */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    #container {
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #divCartePrincipale {
        display: flex;
        align-items: center;
        background: #1e1e1e;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
    #divCartePrincipale img {
        width: 250px;
        background-color: white;
    }
    #divInfoGenerale {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #divInfoGenerale p {
        margin: 10px 0;
    }








    /* img {
        width: 100px;
        height: 150px;
    } */

    /* Gestion Erreur */
    #divErreur {
        display: block;
    }
    #divErreur p {
        text-align: center;
        margin-bottom: 20px;
    }
    #divErreur {
        text-align: center;
    }
}
