* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
}
body {
    background-color: #121212;
    color: #fff;
}
/* Gestion de la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
}
.navbar .logo {
    font-size: 1.2em;
    font-weight: bold;
}
.navLinks.mobile-menu {
    margin-left: 0;
}
.navbar a {
    color: #ff6f61;
}
.navbar .navLinks .active {
    text-decoration: underline;
}
.navbar a:hover {
    text-decoration: underline;
}
.navbar .navLinks ul {
    display: flex;
}
.navbar .navLinks ul li {
    margin: 0 20px;
    list-style: none;
}
/* Fin de la gestion de le navbar */

/* Fin de la gestion du footer */
/* Gestion des éléments communs */
/* main {
    text-align: center;
} */
#titre {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #ff6f61;
}
.lien {
    color: #ff6f61;
    text-decoration: underline;
}
.lien:hover {
    text-decoration: none;
}
.bouton {
    color: #ff6f61;
    background-color: black;
    border: 1px solid #ff6f61;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.bouton:hover {
    color: black;
    background-color: #ff6f61;
}
.gras {
    font-weight: bold;
}
/* Fin de la gestion des éléments communs */
