.Accueil {
    #presentationProjet {
        width: 80%;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
    }
    #presentationProjet p {
        margin-bottom: 10px;
    }
    #presentationProjet a {
        color: #0b0bee;
    }
    #presentationProjet a:hover {
        text-decoration: underline;
    }

}
